* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 16px;
}

header {
    background-color: #0000ff;
    color: #aaaaaa;
    height: 44px;
}

header h1 {
    float: left;
    font-family: helvetica, arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding: 10px; /* TRouBLe */
}

header nav {
    float: left;
    margin-top: 15px;
}

header a {
    color: #aaaaaa;
    margin-right: 20px;
    text-decoration: none;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #ffffff;
}
header a:active {
    text-decoration: underline;
}
header a:focus {}

article {
    clear: both;
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
}

article h2 {
    font-size: 24px
    line-height: 30px;
    margin-bottom: 4px;
}

footer {
    padding: 0 10px 0 10px;
}